<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="~/css/activity.css" />
@model Active
@using Dojo_Activity.Models
<div id="wrapper">
    <h1>Welcome to the Dojo Activity Center!</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Welcome, @ViewBag.name.FirstName</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="newActivity">New Activity</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../logout">Log Off</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Event Coordinator</th>
                <th scope="col">Number of Participants</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>


           
           @foreach(var x in @ViewBag.activities)
            {
                bool going = false;
            <tr>
                <td><a href="../DisplayActivity/@x.ActivityId">@x.Title</a></td>
                <td>@x.ActivityDate</td>
                <td>@x.Duration @x.Hour</td>
                @foreach(var z in @ViewBag.AllUsers)
                {
                    @if(z.UserId == x.ActivityPlanner)
                    {
                        <td>@z.FirstName</td>
                    }
                }
                
                <td>@x.JoinList.Count</td>
                <td>
                    
                    @if(@x.ActivityPlanner == @ViewBag.User)
                    {
                    <form action="../Delete/@x.ActivityId" method="post">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Delete</button>
                    </form>
                    }
                    else
                    {
                         @foreach (var y in x.JoinList)
                    {
                        
                        
                        @if(@ViewBag.User == y.User.UserId)
                        {
                            going = true;
                        }
                    }
                        @if(going == true)
                        {
                        <form action="../leave/@x.ActivityId" method="post">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Leave</button>
                        </form>
                        }
                        else
                        {
                        <form action="../join/@x.ActivityId/@ViewBag.User" method="post">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Join</button>
                        </form>
                        }
                    
                        
                    }
                   
                </td>
            </tr>
            }
            


        </tbody>
    </table>
</div>
<a class="btn btn-outline-primary my-2 my-sm-0" href="../newActivity">Add New Activity</a>

</div>